<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Maps', maps_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active">
          <a href="#">Hello, <%= current_user ? current_user.email : 'Guest' %></a>
        </li>
      </ul>      
          <ul class="left">
          <% if current_user %>
          <li><%= link_to "Log Out", session_path(current_user), method: 'delete' %></li>
          <% else %>     
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log In", new_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <% if notice %>
    <div data-alert class="alert-box success radius">
      <%= notice %>
      <a href="#" class="close">&times; </a>
    </div>
    <% end %>

    <% if alert %>
    <div data-alert class="alert-box alert radius">
      <%= alert %>
      <a href="#" class="close">&times; </a>
    </div>
    <% end %>       

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
  </html>